body{
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

h1,h2{
    color:blue;
    text-align: center;
}
p{color:forestgreen}

p.importance{
    color:brown
}
input.submit {
    color: rgb(219, 19, 19);
}input.submit:hover{
    background-color:rgb(220, 245, 221);
    color:blue;
}
